.containerDashboard {
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 100vw;
  background: radial-gradient(circle, #f4f4f4 10%, transparent 11%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1;
}
.toolBar {
  /* border: 1px solid black; */
  width: 87vw;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 40px 85px -20px #cacaca;
}

.dateSelector {
  margin-left: 10px;
}

.chart {
  border-radius: 15px;
  width: 40vw;
  height: 40vh;
  box-shadow: 0px 40px 85px -20px #cacaca;
  background-color: white;
}

.widgetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
