.container {
  width: 17vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  box-sizing: border-box;
  padding: 3vh 1vw;
}

.userInfo {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  box-sizing: border-box;
  background-color: lightgray;
  border-radius: 6px;
  padding: 1vh 1vw;
}

.profilePic {
  border-radius: 100%;
  width: 5vh;
  height: 5vh;
  background-color: white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.moduleList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: lightgray;
  box-sizing: border-box;
  padding: 2vh 0.5vw;
  font-family: monospace;
  font-size: 1.2rem;
}

.moduleListContainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.collapseButton {
  position: absolute;
  top: 45vh;
  left: 17vw;
  width: 5vw;
  height: 10vh;
  clip-path: polygon(26% 26%, 26% 74%, 0 100%, 0 0);
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.collapseButton:hover {
  cursor: pointer;
}

.moduleCard {
  display: flex;
  gap: 1vw;
  align-items: center;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 1vh 0.5vw;
  min-height: 5vh;
  font-weight: bold;
}

.moduleCard > p {
  font-size: 1rem;
}

.moduleCard:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: aliceblue;
}

.moduleCard:not(:hover) {
  transition: 0.2s ease-out;
}