.Card * {
  background-color:#fbfaf6;
   border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Card {
  box-shadow: 0px 40px 85px -20px #cacaca;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border: 2px antiquewhite solid;
 
}

.noteTextarea {
  width: 100%;
  border: none;
  resize: none;
}

.noteTextarea:focus {
  border: none;
  outline: none;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.content {
  min-height: 200px;
}

.DeleteOutlined {
  visibility: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.Card:hover .DeleteOutlined {
  visibility: visible;
}

.Card:hover .DragOutlined {
  visibility: visible;
}

.DragOutlined {
  visibility: hidden;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.DragOutlined svg {
  height: 30px;
  width: 30px;
}

.DeleteOutlined svg {
  height: 30px;
  width: 30px;
}

.DragOutlined svg:hover {
  cursor: grab;
}