.container {
  min-width: 85vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 1vh;
}

.controls {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3vw;
}

.tableContainer {
  max-height: 88vh;
  max-width: 100%;
  overflow-y: hidden;
  padding: 2vh 3vw;
  box-sizing: border-box;
  }