.container {
  width: 100%;
  min-height: 100%;
}

.controls {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1vw;
}

.filterSelector {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.dateSelector {
  display: flex;
  gap: 1vw;
}

.tableContainer {
  max-height: 78vh;
  max-width: 87vw;
  overflow-y: hidden;
}

.tableContainer *::-webkit-scrollbar {
  display: none;
}