.chart {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 1vh;
    border-radius: 15px;
    width: 20vw;
    height: 32vh;
    box-shadow: 0px 40px 85px -20px #cacaca;
    background-color: white;
}

.icons{
     display: flex;
   justify-content: space-between;
    margin: 10px;
}

.bigNumber{
    font-size: 70px;
}
.circle{
display: flex;
justify-content: center;
margin-top: 10px;
}