.container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 70%;
  border-radius: 5px;
  background-color: #ffb01f;
  box-shadow: 0px 0px 65px -20px;
}

.logo {
  position: absolute;
  top: 0;
}

.button {
  padding: 0 30px 0 30px;
}

.login {
  height: 70%;
  width: 36%;

  box-shadow: 0px 15px 45px 0px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffa90a;
}

.title {
  font-size: 50px;
  text-align: center;
  margin: 25px;
}

.formLogin {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formReg {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 10px;
}

.smallText {
  font-size: 12px;
  margin-top: 150px;
  text-align: center;
}
.smallText:hover {
  cursor: pointer;
}
.registration {
  background-color: #ffa90a;

  box-shadow: 0px 15px 45px 0px;
  border-radius: 10px;
  height: 70%;
  width: 36%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
