.container {
  width: 100%;
  height: 12vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  border: 1px solid black;
  height: 10vh;
  width: 10vw;
}

.title {
  font-size: 50px;
  text-align: center;
  color: #ffc65c;
}

.user {
  display: flex;
  justify-content: center;
  width: 400px;
}
/* .userImg {
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 50%;
  height: 10vh;
  width: 10vw;
} */

.dropdown {
  margin: 40px;
}
.container h1 {
  font-size: 50px;
}
