.container {
    width: max;
    height: 150px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    border: 1px solid black;
    /* border-radius: 50%; */
    height: 100px;
    width: 100px;
}

.user{
    display: flex;
    justify-content: center;
    width: 400px;
}
.user-img{
    margin-right: 20px;
     border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.dropdown{
   margin: 40px;
}
h1{
    font-size: 50px;
}
